---
import SectionHead from "./SectionHead.astro";
import { Image } from "astro:assets";
import imageblob from "../assets/images/about_us_placeholder.png";
import blob from "../assets/svg/blob.svg";
---

<section class="section">
    <SectionHead title="Om oss" gradients={["from-[#2F2F7B]", "to-[#4B4BD8]"]}>
        <p>
            Vi tror på att arbeta nära och öppet med våra kunder; vår filosofi
            är att ett ärligt och transparent samarbete skapar de bästa
            förutsättningarna för framgång.
        </p>
    </SectionHead>
    <div class="grid grid-cols-[1fr_1fr] grid-rows-[50px_1fr_50px] gap-20">
        <div class="relative col-2 row-start-1 row-end-4">
            <Image
                class="absolute top-0 h-full w-auto"
                src={blob}
                alt="Decorative blob shape"
                format="svg"
                loading="lazy"
            />
            <Image
                class="absolute top-0 h-full w-auto"
                src={imageblob}
                alt="A person sitting on a bench with a laptop"
                loading="lazy"
            />
        </div>

        <div class="grid-cols-1 flex flex-1 flex-col gap-20 col-1 row-2 body">
            <div>
                <h2
                    class="max-w-[400px] text-4xl font-bold inline-block text-transparent bg-clip-text bg-gradient-to-r from-[#494774] to-[#87C9D3]"
                >
                    Ett samarbete som gör skillnad.
                </h2>
                <p>
                    Vi tror på att arbeta nära och öppet med våra kunder; vår
                    filosofi är att ett ärligt och transparent samarbete skapar
                    de bästa förutsättningarna för framgång. Vi strävar efter
                    att ge våra kunder ett nytt perspektiv på sin verksamhet.
                    Genom vårt samarbete vill vi inte bara lösa de utmaningar
                    som finns idag, utan också hjälpa våra kunder att förbereda
                    sig för framtiden.
                </p>
            </div>
            <div>
                <h2
                    class="max-w-[420px] text-4xl font-bold inline-block text-transparent bg-clip-text bg-gradient-to-r from-[#C05204] to-[#FFF0B3]"
                >
                    Innovation och framtidsfokus.
                </h2>
                <p>
                    På Limer är innovation en del av vår kärna. Vi söker
                    ständigt efter sätt att förbättra våra lösningar och
                    inspirera våra kunder till att tänka nytt. Genom att arbeta
                    agilt och flexibelt hjälper vi företag att möta både dagens
                    och morgondagens utmaningar.
                </p>
            </div>
        </div>
    </div>
</section>
