---
import SectionHead from "./SectionHead.astro";
import Button from "./Button.astro";
import { Image } from "astro:assets";
import aboutUsImage from "../assets/images/about_us_placeholder.png";
---

<div class="bg-stone-50">
    <section class="section">
        <div>
            <SectionHead
                title="Om oss på Limer."
                gradients={["from-[#2F2F7B]", "to-[#4B4BD8]"]}
                position="left"
            />
            <Image class="mb-4 mt-4" src={aboutUsImage} alt="" loading="lazy" />
            <div class="">
                <p class="mb-8 text-xl">
                    <strong>Vi tror på att arbeta nära och öppet</strong> med våra
                    kunder; vår filosofi är att ett ärligt och transparent samarbete
                    skapar de bästa förutsättningarna för framgång.
                </p>
            </div>
            <div class="flex flex-col md:flex-row gap-4 mb-4">
                <div
                    class="heading-md flex-1 p-4 md:p-8 bg-stone-100 rounded-lg"
                >
                    <h2
                        class="mb-2 md:mb-4 max-w-[400px] text-4xl inline-block"
                    >
                        Ett samarbete som gör skillnad.
                    </h2>
                    <p>
                        Vi tror på att arbeta nära och öppet med våra kunder;
                        vår filosofi är att ett ärligt och transparent samarbete
                        skapar de bästa förutsättningarna för framgång. Vi
                        strävar efter att ge våra kunder ett nytt perspektiv på
                        sin verksamhet. Genom vårt samarbete vill vi inte bara
                        lösa de utmaningar som finns idag, utan också hjälpa
                        våra kunder att förbereda sig för framtiden.
                    </p>
                </div>
                <div
                    class="heading-md flex-1 p-4 md:p-8 bg-stone-100 rounded-lg"
                >
                    <h2
                        class="mb-2 md:mb-4 max-w-[420px] text-4xl font-bold inline-block"
                    >
                        Innovation och framtidsfokus.
                    </h2>
                    <p>
                        På Limer är innovation en del av vår kärna. Vi söker
                        ständigt efter sätt att förbättra våra lösningar och
                        inspirera våra kunder till att tänka nytt. Genom att
                        arbeta agilt och flexibelt hjälper vi företag att möta
                        både dagens och morgondagens utmaningar.
                    </p>
                </div>
            </div>
            <Button class="rounded-lg" href="#">Kontakta oss</Button>
        </div>
    </section>
</div>
