---
const { title, gradients, position = "center" } = Astro.props;

const positions: { [key: string]: string } = {
    center: "justify-center items-center text-center",
    left: "justify-start items-start text-left",
};

const containerClassRail =
    "flex heading-lg flex-col gap-4 " + positions[position];
const titleclassRail =
    "font-bold inline-block text-transparent bg-clip-text bg-gradient-to-r";
---

<div class:list={[containerClassRail]}>
    <h2 class:list={[titleclassRail, ...gradients]}>
        {title}
    </h2>
    <div class="max-w-content-sm font-light body-lg">
        <slot />
    </div>
</div>
